<!DOCTYPE html>

<html>
<head>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= link_to "Home", root_path %>
  <%= link_to "All Listing", listings_path %>
  <%= link_to "All Booking", bookings_path %>
  <%= link_to "Profile", user_path(current_user) %>
  <div id="header">
    <% if signed_in? -%>
      <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
    <% else -%>
      <%= link_to t(".sign_in"), sign_in_path %>
      <%= link_to "Sign in with Facebook", "/auth/facebook" %>
    <% end -%>
  </div>

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>
  <%= yield %>
</body>
</html>
